In [347]:
#SELECTING RANGES OF ROWS 


#SLICE WITH .iloc

my_list = [0, 1, 2, 3, 4]
print(my_list[0:5])

#This is used to select a range of numbers

[0, 1, 2, 3, 4]

In [348]:
import pandas as pd



vehicles = {
    "id": [1288, 689, 950, 250],
    "model": ["amg e53 4matic+ (convertible)", "avalanche ffv", "impala", "yukon xl ffv"],
    "year" : [2022, 2010, 2010, 2004],
    "transmission" : ["auto", "auto", "auto", "auto"],

}

vehicles = pd.DataFrame(vehicles)

print(vehicles)

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto
3   250                   yukon xl ffv  2004         auto

In [349]:

#Using the dataframe "vehicles" and iloc to pick a part in the main dat set .....selecting the first three rows and the model ,year and transmission columns 

#It is [0:3] because we are selecting the first 3 rows ....and the 3 is after the index 2 (x:y+1 where x and y are the original indexes)

vehicles.iloc[0:3,1:4]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2010         auto
2                         impala  2010         auto

In [350]:
#SLICES WITH .loc

#Using the same question... first 3 rows and model , year and transmission 
# .loc uses exactly the index for the rows (x:y) and the names of the columns for the columns 

vehicles.loc[0:2,"model":"transmission"]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2010         auto
2                         impala  2010         auto

In [351]:
#OPEN ENDED SLICES
# If you don't specify the starting point of a slice it would automatically start from the beginning same and end point stopping at the ending 
#if you don't specify any ...it would automatically include all rows and columns from the begining to the end 


vehicles.iloc[:3,:]

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto

In [352]:
#BOOLEAN MASK 
#basically using comparison operators on varibales (numerical or non-numerical data)
# Comparison operators are ...>=greater than , <=less than , == equality(equals to) , != = not equals to etc.

#Example 

greaterthan = 3>2

print(greaterthan)

True

In [353]:
#It can be used on dataframes to find out some specific info 

#Example using vehicles dataframe

finding_about_2004 = vehicles['year'] == 2004
print(finding_about_2004)

#it shows that 2004 is assigned to atleast one

0    False
1    False
2    False
3     True
Name: year, dtype: bool

In [354]:
#Filtering Rows with Booleans

# just making it easier to select rows with a specific need 
#Example

#Selecting rows with 2010

is_2010 = vehicles['year'] == 2010

print(vehicles[is_2010])

#It brought out rows with 2010 in the entire dataframe vehicles

    id          model  year transmission
1  689  avalanche ffv  2010         auto
2  950         impala  2010         auto

In [355]:
# Another method (more direct)
print(vehicles[vehicles['year'] == 2010])

    id          model  year transmission
1  689  avalanche ffv  2010         auto
2  950         impala  2010         auto

In [356]:
#Another example
print(vehicles[vehicles['transmission'] == 'auto'])

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto
3   250                   yukon xl ffv  2004         auto

In [357]:
#Combining Boolean with AND
#AND is true when both conditions are true and if one is false all is false 
#Example

prove = (2011>2010) and ('electric'== 'electric')

print(prove)

True

In [358]:
#One is false all is false 

prove2 = (2011>2010) and ('electric' == 'gloves')

print(prove2)

False

In [359]:
#Creating a new dataframe

import pandas as pd



boom = {
    "year" : [2009, 2010, 2011, 2012],
    "fuel" : ["electric", "hybrid electric", "electric", "propane"],

}

boom = pd.DataFrame(boom)

print(boom)

   year             fuel
0  2009         electric
1  2010  hybrid electric
2  2011         electric
3  2012          propane

In [360]:
is_electric = boom['fuel'] == 'electric'
#All rows under fuel that has electric in it 

year_gt2010 = boom['year'] > 2010
#rows with years above 2010

combined_using_and = is_electric & year_gt2010

print(boom[combined_using_and])

   year      fuel
2  2011  electric

In [361]:
#BOOLEAN OPERATIONS USING "OR"
#if one is True all is True 
#If all is False all is False
#Atleast one must be True to get True
#Symbol for OR is | 

prove3= ('electric' == 'electric') or ('biodiesel' == 'hybrid electric')
print(prove3)

prove4 = ('electric' == 'electricity') or ('biodiesel' == 'hybrid electric')
print(prove4)

True
False

In [362]:
the_electrics= boom['fuel'] == 'electric'
the_hybrids= boom['fuel'] == 'hybrid electric'
combined2 = the_electrics | the_hybrids
#Looking for the one that doesn't have electric and hybrid electric

#you can use it on more than 2 
the_electrics= boom['fuel'] == 'electric'
the_hybrids= boom['fuel'] == 'hybrid electric'
the_propanes= boom['fuel'] == 'propane'
combined3 = the_electrics | the_hybrids | the_propanes


print(combined2)

print(combined3)

0     True
1     True
2     True
3    False
Name: fuel, dtype: bool
0    True
1    True
2    True
3    True
Name: fuel, dtype: bool

In [363]:
#INVERTING BOOLEAN WITH NOT
#Exempting a category or entire column if we want 
# NOT sign "~"

#Using previous example 

#Runs all except propane cos we used NOT propane

the_electrics= boom['fuel'] == 'electric'
the_hybrids= boom['fuel'] == 'hybrid electric'
the_propanes= boom['fuel'] == 'propane'
combined4 =  ~ the_propanes

print(combined4)

0     True
1     True
2     True
3    False
Name: fuel, dtype: bool

In [364]:
#Sorting rows and columns 
#Sorting boom dataframe ascending using the years
boom_sort= boom.sort_values( by='year' , ascending = True)

print(boom_sort)

   year             fuel
0  2009         electric
1  2010  hybrid electric
2  2011         electric
3  2012          propane

In [365]:
#CLEANING AND TRANSFORMING COLUMNS
#COLUMN INFORMATION [.info()]

#Shows info on the particular dataframe

print(vehicles.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4 non-null      int64
 1   model         4 non-null      object
 2   year          4 non-null      int64
 3   transmission  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None

In [366]:
#RENAMING COLUMNS 

# We use syntax df= df.rename(mapper = column_mapper, axis=1) 
# Column mapper - is a dictionary that maps the old column names to the new column names 
# Axis - is a command for editing columns while axis=0 is for rows 

#EXAMPLE using vehicles 



#Changing transmission to trans 

column_mapper = {'transmission' : 'trans'}
vehicles = vehicles.rename(
    mapper=column_mapper, axis=1 
)

print(vehicles)

#transmission changed to trans 
#RENAMING USES "MAPPER"

     id                          model  year trans
0  1288  amg e53 4matic+ (convertible)  2022  auto
1   689                  avalanche ffv  2010  auto
2   950                         impala  2010  auto
3   250                   yukon xl ffv  2004  auto

In [367]:
#REMOVING COLUMNS 

# We use .drop() method to remove a column in a dataframe 
# EXAMPLES using vehicles dataframe 

drop_columns = ['model']

vehicles = vehicles.drop(
    labels= drop_columns, axis=1
)

print(vehicles)

# Model column was removed 


# REMOVING USES "LABELS"

     id  year trans
0  1288  2022  auto
1   689  2010  auto
2   950  2010  auto
3   250  2004  auto

In [368]:
#CALCULATION IN PYTHON 

mizzy_calc = 240 - 61

print(mizzy_calc)

179

In [369]:
#ROUNDING UP NUMBERS 
 
mizzy_round = round(40.34678 , 3)

print(mizzy_round)

40.347

In [370]:
#COLUMN CALCULATIONS

calculate = {
    "id": [1288, 689, 950, 250],
    "year" : [2022.678, 2010.235, 2010.333, 2004.127],
    "number" : [1999 , 1929 , 4209 , 2303]

}

calculate = pd.DataFrame(calculate)

print(calculate)

     id      year  number
0  1288  2022.678    1999
1   689  2010.235    1929
2   950  2010.333    4209
3   250  2004.127    2303

In [371]:
print(calculate['id']/2)

#Divides id column by 2

0    644.0
1    344.5
2    475.0
3    125.0
Name: id, dtype: float64

In [372]:
calculate['id'] = calculate['year'] - calculate['number']

print(calculate)

#id is now the year - number

         id      year  number
0    23.678  2022.678    1999
1    81.235  2010.235    1929
2 -2198.667  2010.333    4209
3  -298.873  2004.127    2303

In [373]:
# Missing values 
# if no value is added it would not show anything no matter what operator is added 

#ROUNDING A COLUMN 

print(calculate['year'].round(decimals=2))

0    2022.68
1    2010.24
2    2010.33
3    2004.13
Name: year, dtype: float64

In [374]:
#SPLITTING COLUMNS 
#creating a new dataframe "Locations" 

Locations = {
    "Location" : ["Gatlinburg,TN", "Springdale,UT", "Jackson,WY", "Esespark,CO"],
   

}

Locations = pd.DataFrame(Locations)

print(Locations)

        Location
0  Gatlinburg,TN
1  Springdale,UT
2     Jackson,WY
3    Esespark,CO

In [ ]:
#To seperate state from city ..whereby states are the abbrevations and city are before the comma 
#DELIMITERS - seperate them from each other in this case ','
 

Locations_split = Locations['Location'].str.split(
    
    pat=',',
      expand=True)

#We've split them but to rename the split columns we use rename 
#Splits them into two columns 0 and 1 then rename 

Locations_split = Locations_split.rename(columns={0: 'city', 1: 'state'})


print(Locations_split)





# pat is  the delimiter , expand is to seperate , str is to tell you we are dealing with a column with strings

         city state
0  Gatlinburg    TN
1  Springdale    UT
2     Jackson    WY
3    Esespark    CO