In [84]:
#SELECTING RANGES OF ROWS 


#SLICE WITH .iloc

my_list = [0, 1, 2, 3, 4]
print(my_list[0:5])

#This is used to select a range of numbers

[0, 1, 2, 3, 4]

In [85]:
import pandas as pd



vehicles = {
    "id": ["1288", "689", "950", "250"],
    "model": ["amg e53 4matic+ (convertible)", "avalanche ffv", "impala", "yukon xl ffv"],
    "year" : ["2022", "2007", "2010", "2004"],
    "transmission" : ["auto", "auto", "auto", "auto"],

}

vehicles = pd.DataFrame(vehicles)

print(vehicles)

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2007         auto
2   950                         impala  2010         auto
3   250                   yukon xl ffv  2004         auto

In [ ]:

#Using the dataframe "vehicles" and iloc to pick a part in the main dat set .....selecting the first three rows and the model ,year and transmission columns 

#It is [0:3] because we are selecting the first 3 rows ....and the 3 is after the index 2 (x:y+1 where x and y are the original indexes)

vehicles.iloc[0:3,1:4]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2007         auto
2                         impala  2010         auto

In [ ]:
#SLICES WITH .loc

#Using the same question... first 3 rows and model , year and transmission 
# .loc uses exactly the index for the rows (x:y) and the names of the columns for the columns 

vehicles.loc[0:2,"model":"transmission"]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2007         auto
2                         impala  2010         auto

In [ ]:
#OPEN ENDED SLICES
# If you don't specify the starting point of a slice it would automatically start from the beginning same and end point stopping at the ending 
#if you don't specify any ...it would automatically include all rows and columns from the begining to the end 


vehicles.iloc[:3,:]

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2007         auto
2   950                         impala  2010         auto