In [21]:
#SELECTING RANGES OF ROWS 


#SLICE WITH .iloc

my_list = [0, 1, 2, 3, 4]
print(my_list[0:5])

#This is used to select a range of numbers

[0, 1, 2, 3, 4]

In [22]:
import pandas as pd



vehicles = {
    "id": [1288, 689, 950, 250],
    "model": ["amg e53 4matic+ (convertible)", "avalanche ffv", "impala", "yukon xl ffv"],
    "year" : [2022, 2010, 2010, 2004],
    "transmission" : ["auto", "auto", "auto", "auto"],

}

vehicles = pd.DataFrame(vehicles)

print(vehicles)

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto
3   250                   yukon xl ffv  2004         auto

In [23]:

#Using the dataframe "vehicles" and iloc to pick a part in the main dat set .....selecting the first three rows and the model ,year and transmission columns 

#It is [0:3] because we are selecting the first 3 rows ....and the 3 is after the index 2 (x:y+1 where x and y are the original indexes)

vehicles.iloc[0:3,1:4]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2010         auto
2                         impala  2010         auto

In [24]:
#SLICES WITH .loc

#Using the same question... first 3 rows and model , year and transmission 
# .loc uses exactly the index for the rows (x:y) and the names of the columns for the columns 

vehicles.loc[0:2,"model":"transmission"]

                           model  year transmission
0  amg e53 4matic+ (convertible)  2022         auto
1                  avalanche ffv  2010         auto
2                         impala  2010         auto

In [25]:
#OPEN ENDED SLICES
# If you don't specify the starting point of a slice it would automatically start from the beginning same and end point stopping at the ending 
#if you don't specify any ...it would automatically include all rows and columns from the begining to the end 


vehicles.iloc[:3,:]

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto

In [26]:
#BOOLEAN MASK 
#basically using comparison operators on varibales (numerical or non-numerical data)
# Comparison operators are ...>=greater than , <=less than , == equality(equals to) , != = not equals to etc.

#Example 

greaterthan = 3>2

print(greaterthan)

True

In [27]:
#It can be used on dataframes to find out some specific info 

#Example using vehicles dataframe

finding_about_2004 = vehicles['year'] == 2004
print(finding_about_2004)

#it shows that 2004 is assigned to atleast one

0    False
1    False
2    False
3     True
Name: year, dtype: bool

In [28]:
#Filtering Rows with Booleans

# just making it easier to select rows with a specific need 
#Example

#Selecting rows with 2010

is_2010 = vehicles['year'] == 2010

print(vehicles[is_2010])

#It brought out rows with 2010 in the entire dataframe vehicles

    id          model  year transmission
1  689  avalanche ffv  2010         auto
2  950         impala  2010         auto

In [29]:
# Another method (more direct)
print(vehicles[vehicles['year'] == 2010])

    id          model  year transmission
1  689  avalanche ffv  2010         auto
2  950         impala  2010         auto

In [30]:
#Another example
print(vehicles[vehicles['transmission'] == 'auto'])

     id                          model  year transmission
0  1288  amg e53 4matic+ (convertible)  2022         auto
1   689                  avalanche ffv  2010         auto
2   950                         impala  2010         auto
3   250                   yukon xl ffv  2004         auto

In [31]:
#Combining Boolean with AND
#AND is true when both conditions are true and if one is false all is false 
#Example

prove = (2011>2010) and ('electric'== 'electric')

print(prove)

True

In [32]:
#One is false all is false 

prove2 = (2011>2010) and ('electric' == 'gloves')

print(prove2)

False

In [33]:
#Creating a new dataframe

import pandas as pd



boom = {
    "year" : [2009, 2010, 2011, 2012],
    "fuel" : ["electric", "hybrid electric", "electric", "propane"],

}

boom = pd.DataFrame(boom)

print(boom)

   year             fuel
0  2009         electric
1  2010  hybrid electric
2  2011         electric
3  2012          propane

In [34]:
is_electric = boom['fuel'] == 'electric'
#All rows under fuel that has electric in it 

year_gt2010 = boom['year'] > 2010
#rows with years above 2010

combined_using_and = is_electric & year_gt2010

print(boom[combined_using_and])

   year      fuel
2  2011  electric

In [35]:
#BOOLEAN OPERATIONS USING "OR"
#if one is True all is True 
#If all is False all is False
#Atleast one must be True to get True
#Symbol for OR is | 

prove3= ('electric' == 'electric') or ('biodiesel' == 'hybrid electric')
print(prove3)

prove4 = ('electric' == 'electricity') or ('biodiesel' == 'hybrid electric')
print(prove4)

True
False

In [43]:
the_electrics= boom['fuel'] == 'electric'
the_hybrids= boom['fuel'] == 'hybrid electric'
combined2 = the_electrics | the_hybrids
#Looking for the one that doesn't have electric and hybrid electric

#you can use it on more than 2 
the_electrics= boom['fuel'] == 'electric'
the_hybrids= boom['fuel'] == 'hybrid electric'
the_propanes= boom['fuel'] == 'propane'
combined3 = the_electrics | the_hybrids | the_propanes


print(combined2)

print(combined3)

0     True
1     True
2     True
3    False
Name: fuel, dtype: bool
0    True
1    True
2    True
3    True
Name: fuel, dtype: bool